{% extends 'App/base.html' %}

{% block content %}

<div class="panel-group">

    <div class="panel panel-success">
        <div class="panel-heading"><h2>Please Log in : </h2></div>
    </div>

    <div class="panel panel-success">
        <div class="panel-body">
            <h3>(must be a super user , please check with site admin)</h3>
            {% if form.errors %}
               <p>  your user name and password didn't match ! please try again .</p>
            {% endif %}

            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                 <input type="submit" class="btn btn-success" value="Login">            
                 <input type="hidden" name="next" value="{{next}}">
            </form>
        </div>
    </div>

</div>




{% endblock %}